<div class="row">
  <div class="col-md-4">
    <h3>Featured Devs</h3>
    <div id="users-list">
      <% @users.each do |user| %>
        <div class="profile-link">
          <% if user.name.blank? %>
            <%= link_to "#{user.username}", user_path(user) %>
          <% else %>
            <%= link_to "#{user.name}", user_path(user) %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <h2>Personal profiles for developers.</h2>
    <h3>Build and display your resume online for free.</h3>
  </div>
</div>
