<% provide(:title, 'Comprehensive developer profiles') %>

<div class="row">
  <div class="col-md-6">
    <h2>Comprehensive developer profiles.</h2>
  </div>
  <div class="col-md-6">
    <% if !signed_in? %>
      <div class="arrow-box promo pull-right hidden-xs hidden-sm">
        Build a dev profile, it's simple and free.
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= image_tag "profile.png", id: "example-img" %>
  </div>
</div>
