
<div class="row">
  <div class="col-md-2">
    <img src="http://placehold.it/165x165">
    <div class="full-name">Dickson Tse</div>
    <div class="location">Castro Valley, CA</div>
    <div class="contact-links">
      <a href="mailto:reltair@gmail.com">reltair@gmail.com</a>
      <a href="http://dicksontse.com/" target="_blank">dicksontse.com</a>
      <a href="https://github.com/dicksontse" target="_blank">github.com/dicksontse</a>
    </div>
    <ul class="nav nav-pills nav-stacked page-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Education</a></li>
      <li><a href="#">Experience</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Skills</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <section>
      <h3>Welcome!</h3>
      <p>I am currently working on a few of my side projects.</p>
      <p>I also co-founded <a target="_blank" href="http://figurehaven.com/">Figure Haven</a>.</p>
    </section>
    <section>
      <h3>So a bit about myself...</h3>
      <p>I have lived in the SF Bay Area my entire life.</p>
      <p>My current interests include building side projects, road cycling, digital currencies, fishing, and traveling.</p>
    </section>
    <section>
      <h3>Education</h3>
      <div><b>UC Berkeley '10</b></div>
      <div>B.A. Computer Science</div>
      <div>Regents' and Chancellor's Scholar</div>
    </section>
    <section>
      <h3>Experience</h3>
      <div>
        <div><b>Co-Founder and Partner, <a href="http://figurehaven.com/" target="_blank">Figure Haven</a></b></div>
        <p>July 2009 - Present</p>
        <p>Started an e-commerce company to sell retail Japanese anime figures.</p>
        <ul>
          <li>Fully responsible for the development and day-to-day operations of the company.</li>
          <li>Revenue grew from $50 to almost $100,000 in sales per year.</li>
        </ul>
      </div>
      <div>
        <div><b>Software Engineer, RedWhale Software</b></div>
        <p>October 2010 - June 2013</p>
        <p>Worked on a wide variety of technical projects for clients.</p>
        <ul>
          <li>Built an ASP.NET MVC 2 web application that enables users to receive score updates via SMS from their favorite sports teams. Teams can also upload their game schedules, add/edit content using a custom CMS, and manage local ad campaigns through an admin interface.</li>
          <li>Built an Adobe Flex application for a company specializing in real-time web session intelligence and behavioral analysis.</li>
          <li>Built a jQuery Mobile application for a startup creating a social network centered around health care professionals.</li>
          <li>Built the main website for a private capital investment firm.</li>
          <li>Managed and built a portfolio of websites for a corporation focused on background screenings.</li>
        </ul>
      </div>
    </section>
    <section>
      <h3>Projects</h3>
      <section>
        <h4>Dollars BBS</h4>
        <p>url: <a href="http://dollars-bbs.org" target="_blank">dollars-bbs.org</a> | pw: baccano</p>
        <p>Recreated a fictional website found in an anime (<a href="http://myanimelist.net/anime/6746/Durarara!!" target="_blank">Durarara!!</a>) using <a href="http://wakaba.c3.cx/s/web/wakaba_kareha" target="_blank">Kareha</a>.</p>
      </section>
      <section>
        <h4>PasteCount</h4>
        <p>url: <a href="http://pastecount.com" target="_blank">pastecount.com</a></p>
        <p>A lightweight character counter built using JavaScript.</p>
      </section>
      <section>
        <h4>RankGifts</h4>
        <p>url: <a href="http://rankgifts.com" target="_blank">rankgifts.com</a></p>
        <p>A gift ranking website built using PHP, the <a href="https://github.com/Exeu/Amazon-ECS-PHP-Library" target="_blank">Amazon ECS PHP Library</a>, and <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a>.</p>
      </section>
      <section>
        <h4>SC2 Builds</h4>
        <p>url: <a href="http://sc2builds.com" target="_blank">sc2builds.com/</a></p>
        <p>A Ruby on Rails app for finding and posting Starcraft 2 build orders.</p>
        <p>Built by a two-person team.</p>
      </section>
      <section>
        <h4>Song Looper</h4>
        <p>url: <a href="http://songlooper.com" target="_blank">songlooper.com</a></p>
        <p>Create and loop custom playlists for YouTube videos.</p>
      </section>
      <section>
        <h4>Alameda County - Points of Interest (AC POI)</h4>
        <p>url: <a href="http://projects.dicksontse.com/acpoi/" target="_blank">projects.dicksontse.com/acpoi</a> | source: <a href="https://github.com/andrewwu/acpoi" target="_blank">github</a></p>
        <p>A <a href="http://jquerymobile.com/" target="_blank">jQuery Mobile</a> application that lets Alameda County residents and visitors easily find local points of interest.</p>
        <p>It was built during the <a href="http://code.acgov.org/2012/winners.htm" target="_blank">Alameda County Apps Challenge 2012</a> and received an honorable mention.</p>
      </section>
      <section>
        <h4>Branch and Merge</h4>
        <p>url: <a href="http://projects.dicksontse.com/game-off/" target="_blank">projects.dicksontse.com/game-off</a> | source: <a href="https://github.com/dicksontse/game-off-2012" target="_blank">github</a></p>
        <p>A game built with HTML5 / jQuery where you alternate between branching and merging.</p>
        <p>It was built during the <a href="https://github.com/github/game-off-2012" target="_blank">GitHub Game Off 2012</a>.</p>
      </section>
    </section>
    <section>
      <section>
        <h4>Languages</h4>
        <ul>
          <li>HTML, CSS</li>
          <li>JavaScript</li>
          <li>C#</li>
        </ul>
      </section>
      <section>
        <h4>Frameworks</h4>
        <ul>
          <li>jQuery</li>
          <li>jQuery Mobile</li>
          <li>ASP.NET MVC 2</li>
        </ul>
      </section>
      <section>
        <h4>Development Tools</h4>
        <ul>
          <li>Adobe Photoshop</li>
          <li>Firebug</li>
          <li>Sublime Text 2</li>
          <li>Microsoft SQL Server 2008 R2</li>
          <li>Visual Studio 2010 Professional</li>
        </ul>
      </section>
      <section>
        <h4>Operating Systems</h4>
        <ul>
          <li>Windows</li>
          <li>Mac OS X</li>
        </ul>
      </section>
      <section>
        <h4>Web Platforms</h4>
        <ul>
          <li>WordPress</li>
          <li>PrestaShop</li>
          <li>Kareha</li>
        </ul>
      </section>
    </section>
  </div>
</div>
