<% provide(:title, 'Terms of Service') %>

<div class="row">
  <div class="col-md-12">
    <h1>Terms of Service</h1>
    <p>
        The following terms and conditions govern all use of the devlist.io website and all content and services available at or through the website. The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies and procedures that may be published from time to time on this Site (collectively, the "Agreement").
    </p>
    <p>
        Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by devlist.io, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.
    </p>
    <h3>1. Responsibility of Contributors</h3>
    <p>
        If you comment on the Website, post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, "Content"), You are entirely responsible for the content of, and any harm resulting from, that Content.
    </p>
    <p>
        Without limiting any of those representations or warranties, devlist.io has the right (though not the obligation) to, in devlist.io's sole discretion (i) refuse or remove any content that, in devlist.io's reasonable opinion, violates any devlist.io policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in devlist.io's sole discretion.
    </p>
    <h3>2. Copyright Infringement</h3>
    <p>
        If you believe that material located on or linked to by devlist.io violates your copyright, you are encouraged to notify devlist.io. devlist.io will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. devlist.io will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of devlist.io or others.
    </p>
    <h3>3. Disclaimer of Warranties</h3>
    <p>
        The Website is provided "as is". devlist.io hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. devlist.io does not make any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.
    </p>
    <h3>4. Limitation of Liability</h3>
    <p>
        In no event will devlist.io be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages or (ii) for interruption of use or loss or corruption of data. devlist.io shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
    </p>
    <h3>5. General Representation and Warranty</h3>
    <p>
        You represent and warrant that (i) your use of the Website will be in strict accordance with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.
    </p>
    <h3>6. Indemnification</h3>
    <p>
        You agree to indemnify and hold harmless devlist.io from and against any and all claims and expenses, including attorneys' fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
    </p>
    <h3>7. Miscellaneous</h3>
    <p>
        This Agreement constitutes the entire agreement between devlist.io and you concerning the subject matter hereof, and they may only be modified by the posting by devlist.io of a revised version.
    </p>
  </div>
</div>
