@import "bootstrap";

/* mixins and variables */

$gray: #777777;
$lightGray: #aaaaaa;
$lighterGray: #dcdcdc;
$innerBackgroundGray: #ececec;
$backgroundGray: #f7f7f7;
$blue: #517ac6;
$lightBlue: #789de1;

/* global */

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
}

a {
  color: $blue;
  &:hover,
  &:focus {
    color: $lightBlue;
  }
}

label {
  display: block;
  font-weight: 400;
}

input {
  border: 1px solid $lightGray;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  &:focus {
    border: 1px solid $lightBlue;
  }
}

/* header */

.df-nav {
  background-color: $lightBlue;
  border-color: $lightBlue;
}

/* home */

.full-name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
}

.location {
  color: $gray;
}

.contact-links {
  border-bottom: 1px solid $lighterGray;
  border-top: 1px solid $lighterGray;
  margin: 15px 0;
  padding: 5px 0;
  a {
    display: block;
    margin: 5px 0;
  }
}

#page-nav {
  margin: 20px 0;
  a {
    outline: none;
  }
}

.df-section {
  background-color: $backgroundGray;
  border-left: 3px solid $lightBlue;
  font-size: 16px;
  margin-bottom: 30px;
  padding: 10px 15px 15px;
  .section-label {
    font-size: 18px;
    font-weight: 600;
    span {
      color: $lightGray;
    }
  }
  .section-title {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
  }
  .section-italic {
    font-style: italic;
  }
  p {
    margin: 0 0 5px;
  }
  ul {
    padding-left: 10px;
    li {
      list-style-type: none;
      &:before {
        color: $gray;
        content: "\2022";
        padding-right: 5px;
      }
    }
  }
}

.project {
  background-color: $innerBackgroundGray;
  border-right: 3px solid $lighterGray;
  margin: 15px 0;
  padding: 10px 15px;
}

.label-sep {
  margin: 0 5px;
}

.github {
  font-size: 14px;
}

/* footer */

footer {
  color: $lightGray;
  padding: 40px 0 30px;
  text-align: right;
  a {
    color: $blue;
    &:hover {
      color: $lightBlue;
      text-decoration: none;
    }
  }
}

.wrapper {
  height: 100%;
  height: auto !important;
  margin: 0 auto -100px;
  min-height: 100%;
}

.push {
  height: 100px;
}

/* bootstrap */

.affix {
  top: 0;
  width: 165px;
}

.navbar {
  min-height: 60px;
}

.navbar-inverse {
  .navbar-brand {
    color: white;
    font-size: 26px;
    margin-top: 5px;
  }
}

.nav {
  li {
    a {
      font-size: 18px;
      font-weight: 300;
      &:hover {
        color: $blue;
      }
    }
  }
}

.nav-pills {
  li {
    a {
      border-radius: 0;
    }
  }
  li.active {
    a {
      background-color: $blue;
      &:hover,
      &:focus {
        background-color: $blue;
      }
    }
  }
}
