<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Devfolio", root_path, class: "navbar-brand" %>
    </div>
  </div>
</header>
