<header class="navbar navbar-static-top navbar-inverse df-nav">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Devfolio", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-right">
      <li><%= link_to "Sign up", signup_path %></li>
    </ul>
  </div>
</header>
